################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/PulseNoiseWF/.vs/PulseNoiseWF/FileContentIndex
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.AssemblyReference.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.CoreCompileInputs.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.FileListAbsolute.txt
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.GenerateResource.Cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.csproj.FileListAbsolute.txt
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.csproj.GenerateResource.Cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/bin/Debug/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/bin/Debug/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/bin/Release/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/bin/Release/PulseNoiseWF.pdb
/.vs/modern-algorithms-for-image-proc/v17/.wsuo
/Code/PulseNoiseWF/.vs/PulseNoiseWF/v17/.suo
/Code/WFshadBinImpulse/.vs/WFshadBinImpulse/v17/.suo
/Code/WFshadBinImpulse/.vs/WFshadBinImpulse/FileContentIndex/e1fb7f18-3252-4980-8eb7-10ebfd254a93.vsidx
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Release/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Release/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.csproj.FileListAbsolute.txt
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.csproj.GenerateResource.Cache
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.csproj.FileListAbsolute.txt
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.csproj.GenerateResource.Cache
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Debug/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Debug/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFshadBinImpulse/.vs/WFshadBinImpulse/FileContentIndex/59cc0ad6-6151-49e1-a501-99c7c4f46c44.vsidx
/Code/WFedgeDetect1/.vs/WFedgeDetect1/v17/.suo
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.csproj.FileListAbsolute.txt
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.csproj.GenerateResource.Cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.pdb
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.csproj.FileListAbsolute.txt
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.csproj.GenerateResource.Cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.pdb
/Code/WFedgeDetect1/WFedgeDetect1/bin/Debug/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/bin/Debug/WFedgeDetect1.pdb
/Code/WFedgeDetect1/WFedgeDetect1/bin/Release/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/bin/Release/WFedgeDetect1.pdb
/Code/WFedgeDetect1/.vs/WFedgeDetect1/FileContentIndex/793dcc0b-0283-4c97-9b1f-60cd264efce1.vsidx
/Code/WFcompressPal/.vs/WFcompressPal/v17/.suo
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.csproj.FileListAbsolute.txt
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.csproj.GenerateResource.Cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.pdb
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.csproj.FileListAbsolute.txt
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.csproj.GenerateResource.Cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.pdb
/Code/WFcompressPal/WFcompressPal/bin/Debug/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/bin/Debug/WFcompressPal.pdb
/Code/WFcompressPal/WFcompressPal/bin/Release/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/bin/Release/WFcompressPal.pdb
/Code/WFcompressPal/.vs/WFcompressPal/FileContentIndex/f01b0b49-1222-47e6-82e5-13cc14263725.vsidx
/Code/WFsegmentAndComp/.vs/WFsegmentAndComp/FileContentIndex/15f057b5-e4b9-4eda-b0c7-36db316ac866.vsidx
/Code/WFsegmentAndComp/.vs/WFsegmentAndComp/v17/.suo
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Debug/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Debug/WFsegmentAndComp.pdb
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Release/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Release/WFsegmentAndComp.pdb
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.csproj.FileListAbsolute.txt
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.csproj.GenerateResource.Cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.pdb
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.csproj.FileListAbsolute.txt
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.csproj.GenerateResource.Cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.pdb
/Code/WFshadingBin/WFshadingBin/obj/x86/Debug/WFshadingBin.csproj.FileListAbsolute.txt
/Code/WFshadingBin/WFshadingBin/obj/x86/Debug/WFshadingBin.csproj.GenerateResource.Cache
/Code/WFshadingBin/WFshadingBin/obj/x86/Debug/WFshadingBin.exe
/Code/WFshadingBin/WFshadingBin/obj/x86/Debug/WFshadingBin.pdb
/Code/WFshadingBin/WFshadingBin/bin/Debug/WFshadingBin.exe
/Code/WFshadingBin/WFshadingBin/bin/Debug/WFshadingBin.pdb
/Code/WFshadingBin/WFshadingBin/bin/Release/WFshadingBin.exe
/Code/WFshadingBin/WFshadingBin/bin/Release/WFshadingBin.pdb
/Code/WFshadingBin/WFshadingBin/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFshadingBin/WFshadingBin/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFshadingBin/WFshadingBin/obj/x86/Release/WFshadingBin.csproj.FileListAbsolute.txt
/Code/WFshadingBin/WFshadingBin/obj/x86/Release/WFshadingBin.csproj.GenerateResource.Cache
/Code/WFshadingBin/WFshadingBin/obj/x86/Release/WFshadingBin.exe
/Code/WFshadingBin/WFshadingBin/obj/x86/Release/WFshadingBin.pdb
/Code/WFshadingBin/.vs/WFshadingBin/FileContentIndex/2ef95611-8e9f-403c-b712-f6e0ab35dae3.vsidx
/Code/WFshadingBin/.vs/WFshadingBin/v17/.suo
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Debug/WFrestoreLin.csproj.FileListAbsolute.txt
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Debug/WFrestoreLin.csproj.GenerateResource.Cache
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Debug/WFrestoreLin.exe
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Debug/WFrestoreLin.pdb
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Release/WFrestoreLin.csproj.FileListAbsolute.txt
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Release/WFrestoreLin.csproj.GenerateResource.Cache
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Release/WFrestoreLin.exe
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Release/WFrestoreLin.pdb
/Code/WFrestoreLin/WFrestoreLin/bin/Debug/WFrestoreLin.exe
/Code/WFrestoreLin/WFrestoreLin/bin/Debug/WFrestoreLin.pdb
/Code/WFrestoreLin/WFrestoreLin/bin/Release/WFrestoreLin.exe
/Code/WFrestoreLin/WFrestoreLin/bin/Release/WFrestoreLin.pdb
/Code/WFrestoreLin/.vs/WFrestoreLin/FileContentIndex/11847088-15e3-48c9-a617-6a9d844f79e0.vsidx
/Code/WFrestoreLin/.vs/WFrestoreLin/v17/.suo
/Code/WFrectify/.vs/WFrectify/FileContentIndex/ec0f3264-2a80-4b6a-bff2-05540aac06e5.vsidx
/Code/WFrectify/.vs/WFrectify/v17/.suo
/Code/WFrectify/WFrectify/bin/Debug/WFrectify.exe
/Code/WFrectify/WFrectify/bin/Debug/WFrectify.pdb
/Code/WFrectify/WFrectify/bin/Release/WFrectify.exe
/Code/WFrectify/WFrectify/bin/Release/WFrectify.pdb
/Code/WFrectify/WFrectify/obj/x86/Debug/WFrectify.csproj.FileListAbsolute.txt
/Code/WFrectify/WFrectify/obj/x86/Debug/WFrectify.csproj.GenerateResource.Cache
/Code/WFrectify/WFrectify/obj/x86/Debug/WFrectify.exe
/Code/WFrectify/WFrectify/obj/x86/Debug/WFrectify.pdb
/Code/WFrectify/WFrectify/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFrectify/WFrectify/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFrectify/WFrectify/obj/x86/Release/WFrectify.csproj.FileListAbsolute.txt
/Code/WFrectify/WFrectify/obj/x86/Release/WFrectify.csproj.GenerateResource.Cache
/Code/WFrectify/WFrectify/obj/x86/Release/WFrectify.exe
/Code/WFrectify/WFrectify/obj/x86/Release/WFrectify.pdb
/Code/WFpolyArc/WFpolyArc/obj/x86/Debug/WFpolyArc.csproj.FileListAbsolute.txt
/Code/WFpolyArc/WFpolyArc/obj/x86/Debug/WFpolyArc.csproj.GenerateResource.Cache
/Code/WFpolyArc/WFpolyArc/obj/x86/Debug/WFpolyArc.exe
/Code/WFpolyArc/WFpolyArc/obj/x86/Debug/WFpolyArc.pdb
/Code/WFpolyArc/WFpolyArc/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFpolyArc/WFpolyArc/obj/x86/Release/WFpolyArc.csproj.CopyComplete
/Code/WFpolyArc/WFpolyArc/obj/x86/Release/WFpolyArc.csproj.FileListAbsolute.txt
/Code/WFpolyArc/WFpolyArc/obj/x86/Release/WFpolyArc.csproj.GenerateResource.Cache
/Code/WFpolyArc/WFpolyArc/obj/x86/Release/WFpolyArc.exe
/Code/WFpolyArc/WFpolyArc/obj/x86/Release/WFpolyArc.pdb
/Code/WFpolyArc/WFpolyArc/bin/Debug/WFpolyArc.exe
/Code/WFpolyArc/WFpolyArc/bin/Debug/WFpolyArc.pdb
/Code/WFpolyArc/WFpolyArc/bin/Release/WFpolyArc.exe
/Code/WFpolyArc/WFpolyArc/bin/Release/WFpolyArc.pdb
/Code/WFpolyArc/.vs/WFpolyArc/FileContentIndex/fdbd75a6-9366-4017-9776-5a7198476a49.vsidx
/Code/WFpolyArc/.vs/WFpolyArc/v17/.suo
/Code/WFpolyArc/WFpolyArc/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFpolyArc/.vs/WFpolyArc/FileContentIndex/4184d25e-44e6-4a23-bb70-69afbfc47140.vsidx
/Code/WFpiecewiseLinear/WFpiecewiseLinear/bin/Debug/WFpiecewiseLinear.exe
/Code/WFpiecewiseLinear/WFpiecewiseLinear/bin/Debug/WFpiecewiseLinear.pdb
/Code/WFpiecewiseLinear/WFpiecewiseLinear/bin/Release/WFpiecewiseLinear.exe
/Code/WFpiecewiseLinear/WFpiecewiseLinear/bin/Release/WFpiecewiseLinear.pdb
/Code/WFpiecewiseLinear/.vs/WFpiecewiseLinear/FileContentIndex/7af0fec3-4b05-48f6-84a9-808b387e78c0.vsidx
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Release/WFpiecewiseLinear.csproj.FileListAbsolute.txt
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Release/WFpiecewiseLinear.csproj.GenerateResource.Cache
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Release/WFpiecewiseLinear.exe
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Release/WFpiecewiseLinear.pdb
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Debug/WFpiecewiseLinear.csproj.FileListAbsolute.txt
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Debug/WFpiecewiseLinear.csproj.GenerateResource.Cache
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Debug/WFpiecewiseLinear.exe
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Debug/WFpiecewiseLinear.pdb
/Code/WFpiecewiseLinear/.vs/WFpiecewiseLinear/v17/.suo
/Code/WFpolyArc/.vs/WFpolyArc/FileContentIndex/7e6ccfb6-c1b5-46e0-b183-9fd67ade8dc5.vsidx
/Code/WFpolyArc/WFpolyArc/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFpolyArc/WFpolyArc/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFpiecewiseLinear/.vs/WFpiecewiseLinear/FileContentIndex/25967fcc-19c0-4457-8bfa-7a0dc2797c63.vsidx
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFluminance/.vs/WFluminance/FileContentIndex/13380178-eee6-4eda-86f2-9d5f477fa7f0.vsidx
/Code/WFluminance/.vs/WFluminance/v17/.suo
/Code/WFluminance/WFluminance/obj/x86/Debug/WFluminance.csproj.FileListAbsolute.txt
/Code/WFluminance/WFluminance/obj/x86/Debug/WFluminance.csproj.GenerateResource.Cache
/Code/WFluminance/WFluminance/obj/x86/Debug/WFluminance.exe
/Code/WFluminance/WFluminance/obj/x86/Debug/WFluminance.pdb
/Code/WFluminance/WFluminance/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFluminance/WFluminance/obj/x86/Release/WFluminance.csproj.FileListAbsolute.txt
/Code/WFluminance/WFluminance/obj/x86/Release/WFluminance.csproj.GenerateResource.Cache
/Code/WFluminance/WFluminance/obj/x86/Release/WFluminance.exe
/Code/WFluminance/WFluminance/obj/x86/Release/WFluminance.pdb
/Code/WFluminance/WFluminance/bin/Debug/WFluminance.exe
/Code/WFluminance/WFluminance/bin/Debug/WFluminance.pdb
/Code/WFluminance/WFluminance/bin/Release/WFluminance.exe
/Code/WFluminance/WFluminance/bin/Release/WFluminance.pdb
/Code/WFluminance/WFluminance/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFluminance/.vs/WFluminance/FileContentIndex/fcfa2d7f-a189-4c8b-83d2-d8a6b96888f7.vsidx
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFshadingBin/WFshadingBin/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFshadingBin/WFshadingBin/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.vsidx
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFshadingBin/.vs/WFshadingBin/v17/DocumentLayout.json
/Code/PulseNoiseWF/.vs/PulseNoiseWF/v17/DocumentLayout.json
/Code/WFsegmentAndComp/.vs/WFsegmentAndComp/v17/DocumentLayout.json
/Code/WFcircleReco/.vs/WFcircleReco/v17/.suo
/Code/WFcircleReco/.vs/WFcircleReco/v17/DocumentLayout.json
/Code/WFcircleReco/WFcircleReco/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/WFcircleReco/WFcircleReco/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFcircleReco/WFcircleReco/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFcircleReco/WFcircleReco/obj/x86/Release/WFcircleReco.csproj.FileListAbsolute.txt
/Code/WFcircleReco/WFcircleReco/obj/x86/Release/WFcircleReco.csproj.GenerateResource.Cache
/Code/WFcircleReco/WFcircleReco/obj/x86/Release/WFcircleReco.exe
/Code/WFcircleReco/WFcircleReco/obj/x86/Release/WFcircleReco.pdb
*.json
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFrestoreLin/WFrestoreLin/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFshadBinImpulse/.vs/WFshadBinImpulse/v17/DocumentLayout.json
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFcircleReco/WFcircleReco/bin/Release/WFcircleReco.exe
/Code/WFcircleReco/WFcircleReco/bin/Release/WFcircleReco.pdb
/Code/WFellipseBikes/WFellipseBikes/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/WFellipseBikes/WFellipseBikes/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFellipseBikes/WFellipseBikes/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFellipseBikes/WFellipseBikes/obj/x86/Release/WFellipseBikes.csproj.FileListAbsolute.txt
/Code/WFellipseBikes/WFellipseBikes/obj/x86/Release/WFellipseBikes.csproj.GenerateResource.Cache
/Code/WFellipseBikes/WFellipseBikes/obj/x86/Release/WFellipseBikes.exe
/Code/WFellipseBikes/WFellipseBikes/obj/x86/Release/WFellipseBikes.pdb
/Code/WFellipseBikes/.vs/WFellipseBikes/v17/.suo
/Code/WFellipseBikes/WFellipseBikes/bin/Release/WFellipseBikes.exe
/Code/WFellipseBikes/WFellipseBikes/bin/Release/WFellipseBikes.pdb
/Code/WFluminance/WFluminance/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFrectify/WFrectify/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFrectify/WFrectify/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFcellDivision/.vs/WFcellDivision/v17/.suo
/Code/WFcellDivision/WFcellDivision/bin/Release/WFcellDivision.exe
/Code/WFcellDivision/WFcellDivision/bin/Release/WFcellDivision.pdb
/Code/WFcellDivision/WFcellDivision/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/WFcellDivision/WFcellDivision/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFcellDivision/WFcellDivision/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFcellDivision/WFcellDivision/obj/x86/Release/WFcellDivision.csproj.FileListAbsolute.txt
/Code/WFcellDivision/WFcellDivision/obj/x86/Release/WFcellDivision.csproj.GenerateResource.Cache
/Code/WFcellDivision/WFcellDivision/obj/x86/Release/WFcellDivision.exe
/Code/WFcellDivision/WFcellDivision/obj/x86/Release/WFcellDivision.pdb
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Code/WFpiecewiseLinear/WFpiecewiseLinear/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Code/WFshadingBin/WFshadingBin/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
