################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/PulseNoiseWF/.vs/PulseNoiseWF/FileContentIndex
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.AssemblyReference.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.CoreCompileInputs.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.FileListAbsolute.txt
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.GenerateResource.Cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.csproj.FileListAbsolute.txt
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.csproj.GenerateResource.Cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/bin/Debug/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/bin/Debug/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/bin/Release/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/bin/Release/PulseNoiseWF.pdb
