################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/PulseNoiseWF/.vs/PulseNoiseWF/FileContentIndex
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.AssemblyReference.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.CoreCompileInputs.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.FileListAbsolute.txt
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.csproj.GenerateResource.Cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Debug/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.csproj.FileListAbsolute.txt
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.csproj.GenerateResource.Cache
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/obj/x86/Release/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/bin/Debug/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/bin/Debug/PulseNoiseWF.pdb
/Code/PulseNoiseWF/PulseNoiseWF/bin/Release/PulseNoiseWF.exe
/Code/PulseNoiseWF/PulseNoiseWF/bin/Release/PulseNoiseWF.pdb
/.vs/modern-algorithms-for-image-proc/v17/.wsuo
/Code/PulseNoiseWF/.vs/PulseNoiseWF/v17/.suo
/Code/WFshadBinImpulse/.vs/WFshadBinImpulse/v17/.suo
/Code/WFshadBinImpulse/.vs/WFshadBinImpulse/FileContentIndex/e1fb7f18-3252-4980-8eb7-10ebfd254a93.vsidx
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Release/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Release/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.csproj.FileListAbsolute.txt
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.csproj.GenerateResource.Cache
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.csproj.FileListAbsolute.txt
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.csproj.GenerateResource.Cache
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Debug/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Debug/WFshadBinImpulse.exe
/Code/WFshadBinImpulse/WFshadBinImpulse/bin/Debug/WFshadBinImpulse.pdb
/Code/WFshadBinImpulse/WFshadBinImpulse/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFshadBinImpulse/.vs/WFshadBinImpulse/FileContentIndex/59cc0ad6-6151-49e1-a501-99c7c4f46c44.vsidx
/Code/WFedgeDetect1/.vs/WFedgeDetect1/v17/.suo
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.csproj.FileListAbsolute.txt
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.csproj.GenerateResource.Cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Debug/WFedgeDetect1.pdb
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.csproj.FileListAbsolute.txt
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.csproj.GenerateResource.Cache
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/obj/x86/Release/WFedgeDetect1.pdb
/Code/WFedgeDetect1/WFedgeDetect1/bin/Debug/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/bin/Debug/WFedgeDetect1.pdb
/Code/WFedgeDetect1/WFedgeDetect1/bin/Release/WFedgeDetect1.exe
/Code/WFedgeDetect1/WFedgeDetect1/bin/Release/WFedgeDetect1.pdb
/Code/WFedgeDetect1/.vs/WFedgeDetect1/FileContentIndex/793dcc0b-0283-4c97-9b1f-60cd264efce1.vsidx
/Code/WFcompressPal/.vs/WFcompressPal/v17/.suo
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.csproj.FileListAbsolute.txt
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.csproj.GenerateResource.Cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/obj/x86/Debug/WFcompressPal.pdb
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.csproj.FileListAbsolute.txt
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.csproj.GenerateResource.Cache
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/obj/x86/Release/WFcompressPal.pdb
/Code/WFcompressPal/WFcompressPal/bin/Debug/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/bin/Debug/WFcompressPal.pdb
/Code/WFcompressPal/WFcompressPal/bin/Release/WFcompressPal.exe
/Code/WFcompressPal/WFcompressPal/bin/Release/WFcompressPal.pdb
/Code/WFcompressPal/.vs/WFcompressPal/FileContentIndex/f01b0b49-1222-47e6-82e5-13cc14263725.vsidx
/Code/WFsegmentAndComp/.vs/WFsegmentAndComp/FileContentIndex/15f057b5-e4b9-4eda-b0c7-36db316ac866.vsidx
/Code/WFsegmentAndComp/.vs/WFsegmentAndComp/v17/.suo
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Debug/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Debug/WFsegmentAndComp.pdb
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Release/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/bin/Release/WFsegmentAndComp.pdb
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.csproj.FileListAbsolute.txt
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.csproj.GenerateResource.Cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Debug/WFsegmentAndComp.pdb
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.csproj.FileListAbsolute.txt
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.csproj.GenerateResource.Cache
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.exe
/Code/WFsegmentAndComp/WFsegmentAndComp/obj/x86/Release/WFsegmentAndComp.pdb
